@model RememberText.ViewModels.TopicFiltersViewModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> SharedLocalizer

@{
    ViewData["Title"] = SharedLocalizer["Introduction"].Value;
    Layout = "~/Views/Shared/_Layout_Intro.cshtml";
}

<div id="Hide_Intro_Box">
    <a id="Hide_Intro" href="#" class="btn btn-default btn-sm" title="Hide Introduction"><i class="far fa-eye-slash" aria-hidden="true"></i></a>
</div>
<div id="Introduction" class="container">
    <div class="row">
        <div class="col-md-6">
            <h2 id="FirstSentence">
                <text>@SharedLocalizer["MemorizingWords"].Value</text>.
            </h2>
            <div id="Curtain_1" class="curtain"></div>
        </div>
        <div class="col-md-6">
            <h3>
                <text>@SharedLocalizer["MemorizingText"].Value</text>.
            </h3>
            <div id="Curtain_2" class="curtain"></div>
        </div>
        <div class="w-100"></div>
        <div class="col-md-6">
            <h4>
                <text>@SharedLocalizer["MemorizingLyrics"].Value</text>.
            </h4>
            <div id="Curtain_3" class="curtain"></div>
        </div>
        <div class="col-md-6 text-right">
            <h2>
                <text>@SharedLocalizer["MemorizingAnswers"].Value</text> ...
            </h2>
            <div id="Curtain_4" class="curtain"></div>
        </div>
        <div class="w-100"></div>
        <div class="col-md-6">
            <h3>
                ... <text class="text-lowercase">@SharedLocalizer["YouAreInRightPlace"].Value!</text>
            </h3>
            <div id="Curtain_5" class="curtain"></div>
        </div>
        <div class="col-md-6">
            <h1 class="text-success text-center">
                Remember Text
            </h1>
            <div id="Curtain_6" class="curtain"></div>
        </div>
        <div class="w-100"></div>
        <div class="col-md-6">
            <h4>
                @SharedLocalizer["ItsEasy"].Value<text>:</text>
                <a href="#" title="Register" data-toggle="tooltip">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;
                    <text class="text-lowercase">
                        @SharedLocalizer["RegisterYou"].Value
                    </text>
                </a>,
                <text class="text-lowercase">
                    @SharedLocalizer["ChooseLanguage"].Value
                </text>,
                <text class="text-lowercase">
                    @SharedLocalizer["SaveYourTextAndPractice"].Value
                </text>.
            </h4>
            <div id="Curtain_7" class="curtain"></div>
        </div>
        <div class="col-md-6 text-center">
            <h3>
                <text>@SharedLocalizer["PracticeOtherShareOwn"].Value</text>.
            </h3>
            <div id="Curtain_8" class="curtain"></div>
        </div>
    </div>
</div>

<div id="ProjectsBox">
    @section SidebarMenu{
        <partial name="Partial/_SidebarTagsMenu" />
    }

    <partial name="Partial/_PublicTopics" model="@Model" />
</div>

@section Scripts{
    <environment include="Development">
        <script src="~/js/Project/DisplayProjectText.js" asp-append-version="true" type="module"></script>
        <script src="~/js/HideSidebarMenu.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/Project/DisplayProjectText.min.js" asp-append-version="true" type="module"></script>
        <script src="~/js/HideSidebarMenu.min.js" asp-append-version="true"></script>
    </environment>
}
