@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<SharedResource> Localizer

@{
    ViewData["Title"] = "Privacy Policy";
}

<h4>@Localizer["MoreAboutCookies"].Value</h4>

<p class="mb-0">
    @Localizer["WhatIsCookies"].Value<text>.</text>
</p>
<p>
    @Localizer["MoreAboutCookies"].Value <a href="https://www.cookiesandyou.com" target="_blank">@Localizer["Here"].Value</a>
    @Localizer["Or"].Value <a href="https://en.wikipedia.org/wiki/HTTP_cookie" target="_blank">@Localizer["Here"].Value<text>.</text></a>
</p>
